<div id="<%= dom_id machine %>">
  <p>
    <strong>Name:</strong>
    <%= machine.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= machine.user %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= machine.address %>
  </p>

  <p>
    <%= link_to "Show this machine", machine %>
  </p>

</div>
